
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/site.css" rel="stylesheet" />
<img src="~/images/banner1.svg" />
<img src="~/MyStaticFiles/images/banner1.svg" />
<script src="~/js/site.js"></script>

<h2>Index</h2>

