@{
    ViewData["Title"] = "Notify";
}
<div style=" height:30px; padding:10px 0px;">
    用户名称 <input type="text" id="UserName" />
    <span id="connectionid"></span>
</div>

<div style="margin-top:30px; ">

    <div style="width:20%; float:left; height:600px; border:2px solid black; padding:5px 5px;">
        <div>
            房间名：  <input type="text" id="room" /><input type="button" value="创建" id="createRoom" />
        </div>

        <hr />
        <div>
            <p>房间列表：</p>
            <div id="RoomList">

            </div>

        </div>

    </div>
    <div style="width:50%; float:left; height:600px; border:2px solid black; padding:5px 5px; margin-left:1px;">
        <div style="width:60%; float:left; height:590px; border-right:1px solid black;">
            <div>
                聊天房间名：  <input type="text" id="groupName" value="第一组" />
            </div>
            <br />

            <div>
                <p>聊天信息：</p>
                <ul id="RoomInfo"></ul>
            </div>
            <div>
                <input type="text" id="message" /> <input type="button" id="sendGroupButton" value="发送" />
            </div>
        </div>
        <div style=" width:30%; float:left; height:600px;">
            <div style="margin-left:20px;">
                <p>用户列表：</p>
                <ul id="userInfo"></ul>
            </div>

        </div>
    </div>
    <div style="width:28%; float:left; height:600px; border:2px solid black; padding:5px 5px; margin-left:1px;">
        <div>
            指定人：  <input type="text" id="connectionId" /><br />
            消息  ：  <input type="text" id="messageInput" /><br />
            <input type="button" id="sendButton" value="发送" />
        </div>
        <div>
            <p>收到的消息信息：</p>
            <ul id="groupClientList"></ul>
        </div>

    </div>
</div>
<div style="clear:both;"></div>


<ul id="messages-list"></ul>
@section Scripts {
    <script src="/signalr/signalr.js"></script>
    <script type="text/javascript">

        var messagesList = document.getElementById("messages-list");

        function appendMessage(content) {
            var li = document.createElement("li");
            li.innerText = content;
            messagesList.appendChild(li);
        }

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/ChatHub")
            .build();

        connection.on("Notify", function (message) {
            appendMessage(message)
        });

        connection.start();


        //创建(组)
        document.getElementById("createRoom").addEventListener("click", event => {
            const roomName = document.getElementById("room").value;
            connection.invoke("CreatRoom", roomName).catch(err => console.error(err.toString()));
            event.preventDefault();
        });


        connection.on("getRoomlist", (message) => {
            var data = $.parseJSON(message);
            $("#RoomList").html("");
            for (var i = 0; i < data.length; i++) {
                var html = "<span>" + data[i].RoomName + "</span>";
                html += '<input type="button" value="加入" onclick="join(this)">';

                $("#RoomList").append(html);
            }
        });

        function join(e) {
            const groupName = $(e).prev().text();
            connection.invoke("AddToRoom", groupName).catch(err => console.error(err.toString()));
            event.preventDefault();
        }


        //发送消息(组)
        document.getElementById("sendGroupButton").addEventListener("click", event => {
            const UserName = document.getElementById("UserName").value;
            const groupName = document.getElementById("groupName").value;
            const message = document.getElementById("message").value;
            connection.invoke("SendMessageToGroup", groupName, UserName, message).catch(err => console.error(err.toString()));
            event.preventDefault();
        });


        connection.on("ReceiveGroupMessage", (UserName, message) => {
            const msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
            const encodedMsg = UserName + " says " + msg;
            const li = document.createElement("li");
            li.textContent = encodedMsg;
            document.getElementById("RoomInfo").appendChild(li);
        });


        connection.on("getUserlist", (message) => {
            $("#userInfo").html("");
            var data = $.parseJSON(message);
            for (var i = 0; i < data.length; i++) {
                const li = document.createElement("li");
                li.textContent = data[i].UserName;
                document.getElementById("userInfo").appendChild(li);
            }
        });


        connection.on("alertMsg", (msg) => {
            alert(msg);
        });

        connection.on("getConnectionId", (msg) => {
            $("#connectionid").text(msg)
        });



        //发送connectionId消息
        document.getElementById("sendButton").addEventListener("click", event => {
            const connectionId = document.getElementById("connectionId").value;
            const messageInput = document.getElementById("messageInput").value;
            connection.invoke("SendClientMessage", connectionId, messageInput).catch(err => console.error(err.toString()));
            event.preventDefault();
        });


        connection.on("ReceiveClientMessage", (connectionId, message) => {
            const msg = message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
            const encodedMsg = connectionId + "  say  " + msg;
            const li = document.createElement("li");
            li.textContent = encodedMsg;
            li.value = connectionId;
            document.getElementById("groupClientList").appendChild(li);
        });
    </script>
}

