
@{
    ViewData["Title"] = "singleChatHub";
}

<div style="width:50%;  height:600px; border:2px solid black; margin-top:30px;">
    <div>

        消息  ：  <input type="text" id="messageInput" /><br />
        <input type="button" id="sendButton" value="发送" />
    </div>
    <div>
        <p>收到的消息信息：</p>
        <ul id="groupClientList"></ul>
    </div>

</div>
